@import '../../../../../../sass/global-time-line/tl-variables.scss';

::ng-deep {
  .create-flag-dialog {
    width: 32rem;
    height: auto;
    min-height: 40%;
    max-height: 89%;
    overflow-y: auto;
    overflow-x: hidden;

    .mdc-dialog__container {
      padding: 0.1rem !important; // distance from scroll to modal
    }

  }

  // .backdropBackground {
  // filter: blur(2rem);
  // background-color: rgba(var(--color-black), .1);
  // opacity: 0.7 !important;
  // }

  // .cdk-overlay-dark-backdrop {
  //   // background: rgba(0, 0, 0, .20);
  // }
}


.flag-modal {


  display: flex;
  // background-color: DodgerBlue;
  flex-wrap: wrap;


  &_title-h1,
  &_title,
  &_date,
  &_description,
  &_color-picker,
  &_radio,
  &_btn {
    width: 100%;
    margin: 1rem 0 1rem 0rem;
    text-align: center;
    line-height: auto;
    font-size: 1.6rem;
  }

  mat-form-field {
    // width: 80%;
    width: 27rem;
  }

  &_title-h1 {
    margin-top: 2rem;
    // font-weight: var(--fonts-font-weight-500);

  }

  &_date {
    &--help {
      margin: 0.2rem 0 0 5rem;
      position: absolute;
    }
  }

  // &_btn {
  //   font-size: 1.4rem;
  //   margin-top: 1rem;
  //   margin-bottom: 2rem;
  //   // background: red;
  //   width: 32rem;

  //   &--back {
  //     // margin: 0 6rem 0rem 0rem;
  //   }
  // }

  &_radio {
    width: 100%;
    display: flex;
    justify-content: center;

    &--input {
      display: grid;
      grid-template-columns: 100%;
      /* Define as larguras das colunas */
      width: 27rem;
      // background: red; /* Apenas para visualização */
      text-align: start;
    }

    // &--grid{
    //   display: contents;
    // }
    &--col {
      // margin-left: 4rem;
      margin-bottom: 2rem;
    }

    &--colors:nth-child(n+2) {
      margin-left: 2.5rem;
    }

    &--text {
      margin-left: 2rem;
    }
  }
}




// ===== BUTTON =====
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* Largura do contêiner pai */
  // background: lightblue; /* Apenas para visualização */
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.flag-modal-btn {
  display: grid;
  grid-template-columns: 40% 60%;
  /* Define as larguras das colunas */
  width: 27rem;
  /* Largura do grid */
  // background: red; /* Apenas para visualização */
  text-align: center;
  // gap: 16px; /* Espaço entre as colunas, se desejado */
}

.button-grid {
  display: contents;
  /* Permite que os itens da grid sejam alinhados conforme a grid do pai */
}

.button-col {
  display: flex;
  align-items: center;
  /* Alinha o conteúdo verticalmente ao centro */
}

.button-col.end {
  justify-content: flex-start;
  /* Alinha o conteúdo horizontalmente ao início da coluna */
}

.button-col.start {
  justify-content: flex-end;
  /* Alinha o conteúdo horizontalmente ao final da coluna */
}





// =========== MATERIAL ===========
// ==============================

:host ::ng-deep {
  .input-color {

    // removing the bottom part of the input
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
      padding-bottom: 0px !important;
    }

    // .mat-mdc-form-field-label-wrapper { top: -1.5em; }

    // &.mat-mdc-form-field-appearance-outline.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label {
    //   transform: translateY(-1.1em) scale(.75);
    //   width: 133.33333%;
    // }
  }

  // move o icone do datepicker para o Custom ToolTip ficar mais a direita
  .mat-mdc-icon-button.mat-mdc-button-base {
    margin-right: 1rem !important;
  }
}

::ng-deep .mat-options .mat-pseudo-checkbox {
  display: none !important;
}

input[type=color]::-moz-color-swatch {
  border: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
}


// .mat-mdc-standard-chip {
//   --mdc-chip-label-text-color: rgba(var(--color-white), 1);
//   // color: rgba(var(--color-white), 1);
//   font-weight: var(--fonts-font-weight-500);
//   background-color: rgba(var(--color-social-media-chips, 1)) !important;
//   color: blue
// }





// ===== MATERIAL RADIO =====
// ============================


:host ::ng-deep .mat-mdc-radio-button .mdc-form-field {
  font-size: 1.2rem !important; // label nome radio
  font-weight: var(--fonts-font-weight-500);
}

// Diminui o mouse-hover do radio botton 
:host ::ng-deep .mat-mdc-radio-touch-target {
  top: 0;
  height: 0;
  left: 0;
  width: 0;
}

:host ::ng-deep .mdc-radio__outer-circle {
  // tamanho circulo externo - aro externo
  height: 1.5rem;
  width: 1.5rem;
  margin: .24rem;
  padding: 0.6rem;
}


:host ::ng-deep .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
  transform: scale(0.3) !important; // tamanho do ponto interno checado
  // padding: 10rem !important;
}

:host ::ng-deep .mat-mdc-radio-button .mdc-radio {
  width: 1.9rem; // distandia do radio para o texto
  // padding: 0 !important; // ao redor do aro -- separa o texto
  --mdc-radio-state-layer-size: 2rem; // hover em volta do ponto - radio checked
}


.radio-group {
  margin-left: -3rem;
}






@media (max-width: 425px) {
  ::ng-deep {
    .cdk-overlay-pane.mat-mdc-dialog-panel {
      max-width: 92vw !important;
      min-width: 90vw !important;
    }
  }

  .flag-modal {

    &_radio {

      // margin-left: 4rem;
      &--col {
        // margin-left: 7rem;
      }
    }
  }


}


@media (max-width: 375px) {

  .flag-modal {
    &_title-h1 {
      font-size: 1.4rem;
    }

    mat-form-field {
      width: 24rem;
    }

    &_radio {
      &--input {
        width: 24rem;
      }

      &--colors:nth-child(n+2) {
        margin-left: 2rem;
      }

      &--text {
        margin-left: 2rem;
      }
    }
  }

  .flag-modal-btn {
    width: 24rem;
  }





}