// @import '../../../../../../sass/global-time-line/tl-variables.scss';

::ng-deep {
  .create-flag-dialog {
    width: 32rem;
    height: auto;
    min-height: 40%;
    max-height: 89%;
    overflow-y: auto;
    overflow-x: hidden;

    .mdc-dialog__container {
      padding: 0.1rem !important; // distance from scroll to modal
    }

  }

  // .backdropBackground {
  // filter: blur(2rem);
  // background-color: rgba(var(--color-black), .1);
  // opacity: 0.7 !important;
  // }

  // .cdk-overlay-dark-backdrop {
  //   // background: rgba(0, 0, 0, .20);
  // }
}


.flag-modal {


  display: flex;
  // background-color: DodgerBlue;
  flex-wrap: wrap;


  &_title-h1,
  &_title,
  &_date,
  &_description,
  &_btn  {
    width: 100%;
    margin: 2rem 0 1rem -0.5rem;
    text-align: center;
    line-height: auto;
    font-size: 1.6rem;

    mat-form-field {
      // width: 80%;
      width: 25rem;
    }
  }

  &_title-h1 {
    margin-top: 2rem;
    // background: red;
  }

  &_date {
    &--help {
      margin: 0.2rem 0 0 5rem;
      position: absolute;
    }
  }

  &_btn {
    // font-size: 1.4rem !important;
    margin: 1rem 2rem 2rem 2.5rem;
    // background: red;
    width: 25rem;

    &--back {
      // margin: 0 6rem 0rem 0rem;
    }
  }
}





// =========== MATERIAL ===========
// ==============================

:host ::ng-deep {
  .input-color {

    // removing the bottom part of the input
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
      padding-bottom: 0px !important;
    }

    // .mat-mdc-form-field-label-wrapper { top: -1.5em; }

    // &.mat-mdc-form-field-appearance-outline.mat-mdc-form-field-can-float.mat-mdc-form-field-should-float .mat-mdc-form-field-label {
    //   transform: translateY(-1.1em) scale(.75);
    //   width: 133.33333%;
    // }
  }

  // move o icone do datepicker para o Custom ToolTip ficar mais a direita
  .mat-mdc-icon-button.mat-mdc-button-base {
    margin-right: 1rem !important;
  }
}
