
<tolltip-create-html></tolltip-create-html>

<!-- <pre> {{createTimeLineForm.value | json}}</pre> -->

<form [formGroup]="createTimeLineForm"
      (ngSubmit)="createTimeLineForm.valid && flagCreateEditInput === 'create' && createFlag()"
      (ngSubmit)="createTimeLineForm.valid && flagCreateEditInput === 'edit' && updateFlag()">
  <div formGroupName="time_line">
    <div formArrayName="flags" class="flag-modal ">

      <!-- Title h1 -->
      <!-- Let's talk about your flag -->
      <div class="flag-modal_title-h1 Roboto_500">
        {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG.modal.title-h1' | translate}}
        <!-- Custom ToolTip -->
        <i  class="material-icons-outlined cursor_pointer noSelect helpers_01 notranslate"
            matSuffix
            customToolTip
            [contentTemplate]="template_help1"
            [originX]="'center'"
            [originY]="'bottom'"
            [overlayX]="'center'"
            [overlayY]="'top'"
            [offsetY]="5">
            help_outline
        </i>
        <ng-template #template_help1>
          <div class="tooltip-conatiner tooltip-conatiner--01"
              [ngClass]="{'activeHight' : innerHeightVal < 570 }">
            <div  customToolTipChiel
        
                  [innerHTML]="help1 | safeDomSanitizer: 'html'">
            </div>
          </div>
        </ng-template>
      </div>

      <!-- RADIO -->
      <div class="flag-modal_radio">
          <div class="flag-modal_radio--input">  
            <!-- <div class="flag-modal_radio--grid">   -->
            <!-- RADIO COR TEXTO -->
            <div class="flag-modal_radio--col">
              <div class="flag-modal_radio--text" >
  
              <span class="flag-modal_radio--show">
                {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-1' | translate}}
              </span>
  
              <!-- Custom ToolTip style="margin-left: 15rem; margin-top: .5rem";-->
              <i  class="material-icons-outlined cursor_pointer noSelect helpers_00 notranslate "
                  matSuffix
                  customToolTip
                  [contentTemplate]="template_help3"
                  [originX]="'center'"
                  [originY]="'bottom'"
                  [overlayX]="'center'"
                  [overlayY]="'top'"
                  [offsetY]="5">
                  help_outline
              </i>

              <ng-template #template_help3 >
                <div class="tooltip-conatiner tooltip-conatiner--02"   [ngClass]="{'activeHight' : innerHeightVal < 570 }">
                  <div  customToolTipChiel
                        class="for-mobile"
                        [innerHTML]="help3 | safeDomSanitizer: 'html'">
                  </div>
                </div>
              </ng-template>
  
                <!-- Cor do texto -->
                  <span class="flag-modal_radio--hide">
                    {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-1' | translate}}
                  </span>
            </div>
              <mat-radio-group class=""
              (change)="onRadioButtonTextColor($event)"  [(ngModel)]="radioRedeTextColor" [ngModelOptions]="{standalone: true}" >
                <mat-radio-button [value]="'0, 0, 0'" class="flag-modal_radio--colors" >
                  <!-- Black-->
                  1
                </mat-radio-button>
                <mat-radio-button [value]="'255, 255, 255'" class="flag-modal_radio--colors" >
                  <!-- White-->
                  2
                </mat-radio-button>
                <mat-radio-button [value]="'255, 0, 0'" class="flag-modal_radio--colors" >
                  <!-- Red-->
                  3
                </mat-radio-button>
                <mat-radio-button [value]="'0, 0, 255'" class="flag-modal_radio--colors" >
                  <!-- blue -->
                  4
                </mat-radio-button>
                <mat-radio-button [value]="'255, 255, 0'" class="flag-modal_radio--colors" >
                  <!-- Yellow -->
                  5
                </mat-radio-button>
              </mat-radio-group>
            </div>
  
            <!-- RADIO COR REDES FUNDO -->
            @if(chipsArray.length > 0) {
              <div class="flag-modal_radio--col">
                <div class="flag-modal_radio--text">
  
                  <span class="flag-modal_radio--show">
                      {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-2' | translate}}
                  </span>
      
                
                  <!-- Custom ToolTip    style="margin-left: 10rem; margin-top: .5rem;"-->
                  <i  class="material-icons-outlined cursor_pointer noSelect helpers_00 notranslate"
                      matSuffix
                      customToolTip
                      [contentTemplate]="template_help4"
                      [originX]="'center'"
                      [originY]="'bottom'"
                      [overlayX]="'center'"
                      [overlayY]="'top'"
                      [offsetY]="5">
                      help_outline
                  </i>
                  <!-- class="custom-tooltip_width--40" -->
                  <ng-template #template_help4>
                    <div class="tooltip-conatiner tooltip-conatiner--03"   [ngClass]="{'activeHight' : innerHeightVal < 570 }">
                      <div  customToolTipChiel
                              [innerHTML]="help4 | safeDomSanitizer: 'html'">
                        </div>
                    </div>
                  </ng-template>
  
                  <!-- Cor contraste redes -->
                  <span class="flag-modal_radio--hide">
                    {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-2' | translate}}
                  </span>
                </div>
                <mat-radio-group class=""
                                (change)="onRadioButtonNetsColor($event)"  
                                [(ngModel)]="radioRedeNets" [ngModelOptions]="{standalone: true}" >
                  <mat-radio-button [value]="'1'" class="flag-modal_radio--colors" >
                    <!-- {background: '74,74,74', text: '255,255,255'} -- {background: 'black', text: 'white'} -->
                    1
                  </mat-radio-button>
                  <mat-radio-button [value]="'2'" class="flag-modal_radio--colors" >
                    <!-- {background: '255,255,255', text: '74,74,74'} --- {background: 'white', text: 'black'} -->
                    2
                  </mat-radio-button>
                  <mat-radio-button [value]="'3'" class="flag-modal_radio--colors" >
                    <!-- {background: '74,74,74', text: '255,0,0'} --- {background: 'black', text: 'red'} -->
                    3
                  </mat-radio-button>
                  <mat-radio-button [value]="'4'" class="flag-modal_radio--colors" >
                    <!-- {background: '255,0,0', text: '255,255,255'} -- {background: 'red', text: 'white'} -->
                    4
                  </mat-radio-button>
                  <mat-radio-button [value]="'5'" class="flag-modal_radio--colors" >
                    <!-- {background: '74,74,74', text: '255,255,0'} --- {background: 'black', text: 'yellow'} -->
                    5
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            }
            <!-- RADIO COR DATA FUNDO -->
            <div class="flag-modal_radio--col">
              <div class="flag-modal_radio--text">
  
                <span class="flag-modal_radio--show">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-3' | translate}}
                </span>
                
                <!-- Custom ToolTip style="margin-left: 13rem; margin-top: .5rem;"-->
                <i  class="material-icons-outlined cursor_pointer noSelect helpers_00 notranslate"
                    matSuffix
                    customToolTip
                    [contentTemplate]="template_help5"
                    [originX]="'center'"
                    [originY]="'bottom'"
                    [overlayX]="'center'"
                    [overlayY]="'top'"
                    [offsetY]="5">
                    help_outline
                </i>
                <ng-template #template_help5>
                  <div class="tooltip-conatiner tooltip-conatiner--02"   [ngClass]="{'activeHight' : innerHeightVal < 570 }">
                    <div  customToolTipChiel
                          [innerHTML]="help5 | safeDomSanitizer: 'html'">
                    </div>
                  </div>
                </ng-template>
                <!-- Cor data fundo -->
                
                <span class="flag-modal_radio--hide">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-3' | translate}}
                </span>
              </div>
              <mat-radio-group class=""
                              (change)="radioButtonDateColor($event)"  
                              [(ngModel)]="radioButtonDate" 
                              [ngModelOptions]="{standalone: true}" >
                <mat-radio-button [value]="'1'" 
                                  class="flag-modal_radio--colors" >
                  <!-- Mesma cor bandeira -->
                  1 
                </mat-radio-button>
                <mat-radio-button [value]="'2'" class="flag-modal_radio--colors" >
                  <!-- Black -->
                  2
                </mat-radio-button>
                <mat-radio-button [value]="'3'" class="flag-modal_radio--colors" >
                  <!-- White -->
                  3
                </mat-radio-button>
                <mat-radio-button [value]="'4'" class="flag-modal_radio--colors" >
                  <!-- Red -->
                  4
                </mat-radio-button>
                <mat-radio-button [value]="'5'" class="flag-modal_radio--colors" >
                  <!-- Yellow -->
                  5
                </mat-radio-button>
              </mat-radio-group>
            </div>
  
            <!-- RADIO COR TRANSPARÊNCIA FUNDO -->
            <div class="flag-modal_radio--col">
              <div class="flag-modal_radio--text">
  
                <span class="flag-modal_radio--show">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-4' | translate}}
                </span>
                
                <!-- Custom ToolTip style="margin-left: 0; margin-top: .5rem;"-->
                <i  class="material-icons-outlined cursor_pointer noSelect helpers_00 notranslate"
                    matSuffix
                    customToolTip
                    [contentTemplate]="template_help6"
                    [originX]="'center'"
                    [originY]="'bottom'"
                    [overlayX]="'center'"
                    [overlayY]="'top'"
                    [offsetY]="5">
                    help_outline
                </i>
                <ng-template #template_help6>
                  <div class="tooltip-conatiner tooltip-conatiner--03"   [ngClass]="{'activeHight' : innerHeightVal < 570 }">
                    <div  customToolTipChiel
                          [innerHTML]="help6 | safeDomSanitizer: 'html'">
                    </div>
                  </div>
                </ng-template>
  
                <!-- Cor transparência bandeira -->
                <span class="flag-modal_radio--hide">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.radio-button.mat-label-4' | translate}}
                </span>
              </div>
              <mat-radio-group class=""
                              (change)="onRadioButtonTransparencyColor($event)"  
                              [(ngModel)]="radioRedeTransparency" [ngModelOptions]="{standalone: true}" >
                <mat-radio-button [value]="'0.1'" class="flag-modal_radio--colors" >
                  1
                </mat-radio-button>
                <mat-radio-button [value]="'0.2'" class="flag-modal_radio--colors" >
                  2
                </mat-radio-button>
                <mat-radio-button [value]="'0.3'" class="flag-modal_radio--colors" >
                  3
                </mat-radio-button>
                <mat-radio-button [value]="'0.4'" class="flag-modal_radio--colors" >
                  4
                </mat-radio-button>
                <mat-radio-button [value]="'0.5'" class="flag-modal_radio--colors" >
                  5
                </mat-radio-button>
              </mat-radio-group>
            </div>
  
          <!-- </div> -->
        </div>
      </div>


      <!-- title -->
      <div class="flag-modal_title" [formGroupName]="0">

        <!-- Flag name -->
        <mat-form-field class="TextIput_500 MatLable_600">
          <mat-label>{{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.title.mat-label' | translate}}</mat-label>
          <input  type="text"
                  #flagTitle
                  maxlength="50"
                  matInput
                  [placeholder]="'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.title.placeholder'| translate"
                  formControlName="flag_title"
                  [errorStateMatcher]="matcher"
                  appTrim
                  [numInputAppTrim]="6"
                  [characterText]="35"
                  [formAll]="flagsForm.controls[0]"
                  [nameFormAll]="'flag_title'"
                  >
          <mat-hint align="end">{{flagTitle.value.length}}/50</mat-hint>
          <mat-error *ngIf="flagsForm.controls[0].get('flag_title')?.errors?.['minlength']">
            <!-- Minimum 3 characters -->
            {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.title.mat-error-minlength' | translate}}
          </mat-error>
          <mat-error *ngIf="flagsForm.controls[0].get('flag_title')?.errors?.['maxlength'] || flagTitle.value.length > 50">
            <!-- Maximum 50 characters -->
            {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.title.mat-error-maxlength' | translate}}
          </mat-error>
          <mat-error *ngIf="flagsForm.controls[0].get('flag_title')?.errors?.['required'] && flagTitle.value.length === 0">
            <!-- Title is required -->
            {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.title.mat-error-required' | translate}}
          </mat-error>
        </mat-form-field>
      </div>


      <!-- Date (ngModelChange)="test($event)" -->
      <!-- https://github.com/JsDaddy/ngx-mask -->
      <!-- mask="d0/M0/0000" -->
      <div class="flag-modal_date" [formGroupName]="0">
        <mat-form-field formGroupName="date_obj" class="TextIput_500 MatLable_600">
          <!-- Flag date -->
          <mat-label>{{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.date.mat-label' | translate}} </mat-label>
            <!-- Custom ToolTip -->
            <i  (click)="$event.preventDefault(); $event.stopPropagation();"
                class="material-icons-outlined cursor_pointer noSelect helpers_02 flag-modal_date--help notranslate"
                matSuffix
                customToolTip
                [contentTemplate]="template_help2"
                [originX]="'center'"
                [originY]="'bottom'"
                [overlayX]="'center'"
                [overlayY]="'top'"
                [offsetY]="5">
                help_outline
            </i>
          <ng-template #template_help2>
            <div class="tooltip-conatiner tooltip-conatiner--01"   
                [ngClass]="{'activeHight' : innerHeightVal < 570 }">
              <div  customToolTipChiel
                  [innerHTML]="help2 | safeDomSanitizer: 'html'">
              </div>
            </div>
          </ng-template>
          <!-- (dateInput)="addEvent('input', $event)"  -->
          <!-- (dateChange)="addEvent('change', $event)" -->
          <!-- (keyup)="toTimestamp(dateInput.value)" -->
          <!-- (dateInput)="addEventDatePicker(dateInput.value, $event)" -->
          <!-- "dateInput?.value" fica dando erro de console -->
          <input  formControlName="date_origin"
                  #dateInput
                  [min]="minDate"
                  appMaskDate
                  [appMaskValue]="addDataMaskVal"
                  matInput
                  type="text"
                  maxlength="10"
                  minlength="9"
                  [matDatepicker]="picker"
                  [errorStateMatcher]="matcher"
                  [placeholder]="'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.date.placeholder'| translate"
                  (keyup)="addDataMask($event)"
                  >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker
                          [calendarHeaderComponent]="timeHeader"
                          (closed)="toggleDatePicker(picker)"
                          (opened)="toggleDatePicker(picker)"
                           >
          </mat-datepicker>
          <mat-error  *ngIf="flagsForm.controls[0]?.get('date_obj')?.get('date_origin')?.errors?.['required'] &&
                              dateInput.value.length === 0; else nameDate">
            <!-- Date is required -->
            {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.date.mat-error-required' | translate}}
          </mat-error>

          <ng-template #nameDate>
            <mat-error *ngIf="flagsForm.controls[0]?.get('date_obj')?.get('date_origin')?.errors &&
                              dateInput.value.length > 2 ">
              <!-- Invalid date -->
              {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.date.mat-error' | translate}}
            </mat-error>
          </ng-template>
        </mat-form-field>
      </div>


      <!-- Description -->
      <div class="flag-modal_description" [formGroupName]="0">
        <mat-form-field [style.fontSize]="'1.4rem'" class="TextIput_500 MatLable_600">
          <!-- Description -->
          <mat-label>{{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.description.mat-label' | translate}} </mat-label>
          <textarea [placeholder]="'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.description.placeholder'| translate"
                    matInput
                    type="text"
                    #textareaInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="15"
                    maxlength="500"
                    [errorStateMatcher]="matcher"
                    formControlName="flag_description"
                    appTrim
                    [numInputAppTrim]="6"
                    [characterText]="35"
                    [formAll]="flagsForm.controls[0]"
                    [nameFormAll]="'flag_description'"

                    >
          </textarea>
          <mat-hint align="end">{{textareaInput.value.length}}/500</mat-hint>
          <!-- Description is required -->
          <mat-error *ngIf="flagsForm.controls[0].get('flag_description')?.errors?.['required'] ">
            {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.description.mat-error-required' | translate}}
          </mat-error>
          <!-- Minimum 3 characters -->
          <mat-error *ngIf="flagsForm.controls[0].get('flag_description')?.errors?.['minlength'] && textareaInput.value.length > 0">
            {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.description.mat-error-minlength' | translate}}
          </mat-error>
          <!-- Maximum 500 characters -->
          <mat-error *ngIf="flagsForm.controls[0].get('flag_description')?.errors?.['maxlength'] || textareaInput.value.length > 500">
            {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.description.mat-error-maxlength' | translate}}
          </mat-error>
        </mat-form-field>
      </div>


      <!-- color-picker -->
      @if(editFlag && editFlag.edit === 'edit-flag-1' || openColorCreat && openColorCreat.activeFilter === 'create') {
      <div class="flag-modal_color-picker" [formGroupName]="0">
        <mat-form-field class="input-color TextIput_500 MatLable_600" floatPlaceholder="never" floatLabel="always" formGroupName="flag_design">
          <!-- Which color represents the flag? -->
          <mat-label>{{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.input.color.mat-label' | translate}} </mat-label>
          <!-- [disableControl]="disableColor" -->
          <input *ngIf="!disableColor"
                  #valColor
                  matInput
                  placeholder=""
                  readonly
                  style="outline: none !important"
                  type="color"
                  formControlName="color_hex"
                  (input)="convertColor(valColor.value, 'input')"
                  class="">

          <input *ngIf="disableColor"
                  matInput
                  placeholder=""
                  (click)="canNotConvertColor()"
                  readonly="true"
                  style="outline: none !important"
                  type="color"
                  [value]="colorHexaVal"
                  class="">
          <mat-error>
            error
          </mat-error>
        </mat-form-field>
      </div>
      } @else if(editFlag && editFlag.edit === 'edit-flag-2') { 
        <div style="height: 10rem;"></div>
      }



      <!-- BUTTON -->
      <div class="container">
        <div class="flag-modal-btn">
          <div class="button-grid">
            <div class="button-col end">
              <!-- Back Button -->
              @if(flagCreateEditInput === 'edit') {
              <button mat-stroked-button
                      class="btn_opt_transparent notranslate"
                      matDialogClose   
                      (click)="clearForm()">
                {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.mat-stroked-button.button.back' | translate}}
              </button>
              } @else if(flagCreateEditInput === 'create'){
              <button mat-stroked-button
                      class="btn_opt_transparent notranslate"
                      matDialogClose   
                      (click)="clearForm()">
                {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.mat-stroked-button.button.back' | translate}}
              </button>
              }
            </div>
      
            <div class="button-col start">
              <!-- Conditional Buttons -->
              @if(flagCreateEditInput === 'edit') {
                @if(createTimeLineForm.invalid) {
                <button mat-stroked-button class="btn_opt-invalid notranslate">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.mat-stroked-button.button.edit' | translate}}
                </button>
                } @else {
                <button matDialogClose 
                        type="submit" 
                        mat-stroked-button 
                        class="btn_opt-valid notranslate">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.mat-stroked-button.button.edit' | translate}}
                </button>
                }
              } @else if(flagCreateEditInput === 'create') {
                @if(createTimeLineForm.invalid) {
                <button mat-stroked-button class="btn_opt-invalid notranslate">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.mat-stroked-button.button.create' | translate}}
                </button>
                } @else {
                <button matDialogClose 
                        type="submit" 
                        mat-stroked-button 
                        class="btn_opt-valid notranslate">
                  {{'TIME-LINE.CreateFlagComponent.CREATE-FLAG_MATERIAL.mat-stroked-button.button.create' | translate}}
                </button>
                }
              }
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</form>
