<ng-template #filterTimeLine>
  <div class="filter-time-line-dialog">
    <div class="filter-grid-container">

      <!-- Filter Flags -->
      <div class="item-main-header"> 
         {{'TIME-LINE.FilterFlagComponent.FILTER-FLAG.modal.grid1' | translate}}
        </div>
      <div class="item-main-close " (click)="closeFilter()">
        <span class="cursor_pointer" matDialogClose>X</span>
      </div>

      <div class="item-filter-title">
        <!-- Title -->
        <div class="item-date-start--title">
          {{'TIME-LINE.FilterFlagComponent.FILTER-FLAG.modal.grid3' | translate}}
        </div>

        <!-- Flag title filter -->
        <mat-form-field class="example-full-width">
          <mat-label> 
            {{'TIME-LINE.FilterFlagComponent.FILTER-FLAG_MATERIAL.input.title.mat-label' | translate}}
          </mat-label>
          <input  matInput
                  value=""
                  [placeholder]="'TIME-LINE.FilterFlagComponent.FILTER-FLAG_MATERIAL.input.title.placeholder' | translate"
                  [(ngModel)]="titleFlag"
                  (keyup)="filterFlag()"
                 >
        </mat-form-field>
      </div>
      <div class="item-filter-description"> </div>

      <div class="item-date-end"></div>


      <!-- Color -->
      <div class="item-color">
        <div class="item-color--hex">
          {{'TIME-LINE.FilterFlagComponent.FILTER-FLAG.modal.grid8' | translate}}
        </div>
        <!-- Color filter -->
        <mat-form-field>
          <mat-label>
            {{'TIME-LINE.FilterFlagComponent.FILTER-FLAG_MATERIAL.input.color.mat-label' | translate}}
          </mat-label>
          <mat-select [(value)]="selectedColors">
            <ng-container *ngFor="let flag of indexDbGetAllData.time_line.flags | uniqueSpecific: 'color_hex'">
              <mat-option   *ngIf="flag.flag_design.color_hex"
                            [value]="flag.flag_design.color_hex"
                            (click)="addColors(flag, flag.flag_design.color_hex, flag.flag_design.color_rgb)">
              <div class="item-color_span"
                    [ngStyle]="{'background': flag.flag_design.color_hex,
                                'color': flag?.flag_design?.color_rgb?.split(',')?.shift() < 200 ? 'white' : 'black'}">
              {{ flag.flag_design.color_hex }} 
              </div>
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <!-- filtro quadrados -->
        <div class="item-color_display" *ngIf="filterTopDiv.length > 0">
          <div class="item-color_display--box" *ngFor="let color of filterTopDiv; let i = index;">
            <div  class="item-color_display--colors cursor_pointer" (click)="removeColor(i)"
                  [ngStyle]="{ 'background': color.color_hex}">
              <mat-icon class="material-icons"
                        [ngStyle]="{'color': color.color_rgb?.split(',')?.shift()  < 200 ? 'white' : 'black'}">
                        done
              </mat-icon>
            </div>
            <div class="item-color_text"> {{color.color_hex}} </div>
          </div>
        </div>
      </div>


      <div class="item-btn">
        <div class="item-btn--add-filter">
          <!-- Apply filter matDialogClose-->
          @if(titleFlag?.length > 0) {
            <button mat-stroked-button
                  class="btn_red-spider"
                  (click)="toApplyFilter()">
                  {{'TIME-LINE.FilterFlagComponent.FILTER-FLAG_MATERIAL.mat-stroked-button.button.apply-filter' | translate}}
            </button>
          } @else {
            <button mat-stroked-button
                    class="btn_opt-invalid"
                  >
                  {{'TIME-LINE.FilterFlagComponent.FILTER-FLAG_MATERIAL.mat-stroked-button.button.apply-filter' | translate}}
            </button>
          }
 
        </div>
      </div>

    </div>
  </div>

</ng-template>
