
<!-- Grids -->
<div class="grid-container">
  <div class="item-left"></div>
  <!-- Time Line -->
  <div class="item-main"> {{'TIME-LINE.TopDivComponent.TOP-DIV.grid.item-02' | translate}}</div>
  <!-- Feed -->
  <div class="item-center">
        <!-- {{'TIME-LINE.TopDivComponent.TOP-DIV.grid.item-03' | translate}} -->

      <!-- Button to open modal and create flag -->
      <!-- There are no flags yet -->
    <div class="btn-div" >
      <div class="btn-div_create">
        <!-- <button
                mat-stroked-button
                class="btn_red-spider"
                >
            {{'TIME-LINE.TopDivComponent.TOP-DIV.grid.item-07' | translate}}
        </button> -->
      </div>
    </div>
  </div>

  <!-- Descubra -->
  <!-- <div class="item-menu">{{'TIME-LINE.TopDivComponent.TOP-DIV.grid.item-04' | translate}}</div> -->

  <!-- Filter opacity -->
  <!-- Filtrando... -->
  <div  class="item-filtering"
        >
        <!-- {{'TIME-LINE.TopDivComponent.TOP-DIV.grid.item-05' | translate}} -->
  </div>
  <div class="item-filter" >
    <div class="item-filter_close cursor_pointer"
                >
      <!-- X -->
    </div>
  </div>

  <div class="item-right">
    <mat-icon
              matSuffix
              class="material-icons cursor_pointer"
              fontSet="material-icons-outlined"
              (click)="filter.openFilterTimeLineDialog()">
      <span>filter_alt</span>
      <filter-flag  #filter
                    [timeLine]="timeLine"
                    (applyFilter)="applyFilter($event)"
      >
      </filter-flag>
    </mat-icon>
    <!-- Create -->
    <button
            mat-stroked-button
            class="btn_opt-valid btn_setting"
            (click)="openCreateTimeLineDialog()">
        {{'TIME-LINE.TopDivComponent.TOP-DIV.grid.item-07' | translate}}
    </button>
  </div>
</div><!-- End Grids -->


<!-- Filter Input -->
<!-- Applied Filter -->
<div class="input-filter-text" >
  <!-- {{'TIME-LINE.TopDivComponent.TOP-DIV.input-filter.item-01' | translate}} -->
</div>

<div class="flex-container" >


</div>


<!-- <div class="flex-container" >
  <span class="filter-text-close cursor_pointer" >
    X
  </span>
  <div class="filter-input-text">

  </div>
</div> -->

