
  <modal-doublechecker [doubleCheckerDataInput]="doubleCheckerData"
                        #doubleCheckerClick
                        (deleteFlagOutput)="deleteFlagEvent($event)"
  >
  
</modal-doublechecker>


<main class="main">
  @for (flag of timeLine.time_line.flags | unique; track trackFlagsDataJson; let idx = $index; let first = $first; let last = $last) {
    <!-- [ngStyle]="{ 'margin-left': flag.flag_margin_right+'rem'}" -->
  <div class="main-block"  [ngStyle]="{'margin-right': last ? '50rem' : ''}">

    <div [ngStyle]="{ 'margin-left':  !first && !last && flag.year ? '7rem': 
                                      !first && last && flag.year ? '7rem':  ''}"> 
    <!-- 🅰️ FLAG 2 [ngStyle]="{'margin-right': !first && !last && flag.flag_margin_right === '0' && !flag.year ? '2rem': '5rem'}" [ngStyle]="{'margin-left': 'calc('+ (idx) +' * 4rem)'}"-->
    @for (flag2 of flag.flags2; track trackFlagsDataJson2;) {
      @if(flag.flags2.length === 1) {
        <!-- 'margin-left': flag.year && !first ? '5rem': '0'} -->
      <div  class="main-block--flags2"       
            [ngStyle]="{ 'margin-right': flag.flag_margin_right+'rem'}">

     
        <!-- tarja na lateral esquerda criada para desativar o mouseleave e mouseleave  -->
        <div  class="main-block--mouse-up"></div>
        
        <!-- Mouseover || Mouseleave-->
        <div  class="flag-2 inside-flag" 
              (mouseover)="mouseUp(idx)" 
              (mouseleave)="mouseUp(-1)">

          <!-- RETANGULO BRANCO DE FUNDO -->
          <!-- QUANDO O FILTRO (BARRA) FOR ATIVADO -->
          @if(!enableDisableMouse) {
            <div id="opacity-{{flag2.flag_design.color_hex?.substring(1)}}" class="flag-1_white2--background opacity"></div>
          }

          <div  class="flag-2_card" 
                [ngStyle]="setStylesCards(flag2)"  
                id="color-{{flag2?.flag_design?.color_hex?.substring(1)}}">

            <!-- RETANGULO BRANCO DE FUNDO -->
            <div class="flag-1_white--background"></div>

            <!-- title -->
            <div id="title-content">
              <div class="box-inside-flag-title">
                <span class="inside-flag_title" [ngStyle]="setStylesText(flag2)">
                  {{flag2.flag_title | truncate:20}}
                </span>
              </div>


              <!-- Menu Edit Delete -->
              @if(!checksFilterIsActive) {
                <div class="box-inside-flag-title remove"  id="remove-{{flag2?.flag_design?.color_hex?.substring(1)}}">
                  <!-- [ngStyle]="setStylesText(flag2)" -->
                  <i matSuffix class="material-icons-outlined cursor_pointer noSelect menu-remove-icon"
                    [matMenuTriggerFor]="menuEditRemove"
                    (click)="disableFilter(flag, flag.flag_design.color_hex?.substring(1))">
                    more_vert
                  </i>
                  <span class="box-inside-flag-title_background"></span>
                  <!-- Start Filter Edit-->
                  <mat-menu #menuEditRemove="matMenu">
                    <span class="cursor_pointer noSelect box-inside-flag-title_menu" (click)="editFlag(flag, 'edit-flag-2')">
                      <i class="material-icons box-inside-flag-title_menu--edit">
                        edit
                      </i>
                      <div class="box-inside-flag-title_menu--t1">Editar</div>
                    </span> <br>
                    <span class="cursor_pointer noSelect box-inside-flag-title_menu" 
                          (click)="deleteChecksBeforeSocialMediasChips(flag, 'edit-flag-2')" 
                          (click)="doubleCheckerClick.openDoubleCheckerDialog()">
                      <i class="material-icons box-inside-flag-title_menu--delete">
                        delete_forever 
                      </i>
                      <div class="box-inside-flag-title_menu--t2">Deletar</div>
                    </span>
                  </mat-menu>
                </div>
              }
            </div>

            <!-- Date -->
            <div class="inside-flag_date" [ngStyle]="setStylesDate(flag2)" >
              <div class="inside-flag_date_day" [ngStyle]="setStylesText(flag2)">
                <!-- {{flag.date_obj.day_month_year.substring(8).split('T').shift()}} -->
                {{flag2.date_obj.day}}
              </div>
              <div class="inside-flag_date_month" [ngStyle]="setStylesTextMonth(flag2)">
                <span>
                  <!-- {{flag.date_obj.month.split('/').shift() | titlecase}} -->
                  {{flag2.date_obj.month_s}}
                </span>
              </div>
              <div class="inside-flag_date_year" [ngStyle]="setStylesTextYear(flag2)">
                <!-- {{flag.date_obj.day_month_year.substring(0).split('-').shift()}} -->
                {{flag2.date_obj.year}}
              </div>
            </div>
            <!-- Description -->
            <div class="inside-flag_description" [ngStyle]="setStylesText(flag2)">
              <p>{{flag2.flag_description | truncate:250}}</p>
            </div>
            <!-- Nets -->
            <div class="inside-flag_nets" [ngStyle]="setStylesText(flag2)">
              {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-02' | translate}}
            </div>

          <!-- Chips -->
          <div style="height: 12rem; width: 100%;">
            @if(flag2.social_medias_chips.length === 0) {
            <div class="inside-flag_no-net">
              <!-- Não existe rede criada. -->
              <p>
                <!-- [ngStyle]="{'color': 'rgba('+flag.flag_design.color_text+',1)' }" -->
                <mark> 
                  {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-01' | translate}}
                </mark>
              </p>
              <p>
                {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-03' | translate}}
              </p>
            </div>
            } @else {
            <mat-grid-list cols="3" rowHeight="1.2rem" [gutterSize]="'0'" >

              @for (chip of flag2.social_medias_chips; track trackFlagsDataJson; let ichip = $index) {
              <mat-grid-tile [rowspan]="'3'" class="inside-flag_chips-list set-chip">

                <div *ngIf="ichip < 6 && chip.name.length > 9" class="inside-flag_chips" [ngStyle]="setStylesChip(flag2)">
                  <!-- {{chip.name | truncate:8}} -->
                  {{chip.name | titlecase | truncate:6:'chip'}}
                </div>


                <div *ngIf="ichip < 6  && chip.name.length <= 9" class="inside-flag_chips" [ngStyle]="setStylesChip(flag2)">
                  <!-- {{chip.name | truncate:8}} -->
                  {{chip.name | titlecase }}
                </div>


                <div *ngIf="ichip===6">
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag2)">
                    +{{flag.social_medias_chips.length - 6}}
                  </div>
                </div>
              </mat-grid-tile>
              }
            </mat-grid-list>
            }

          </div >
          </div> <!-- Card End -->
          <!-- Open Kanban -->
          <div class="inside-flag_open-kanban cursor_pointer remove" id="remove-{{flag2?.flag_design?.color_hex?.substring(1)}}">
            <!-- Abrir Kanban -->
            {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-04' | translate}}
            <mat-icon matSuffix class="material-icons ">
              view_kanban
            </mat-icon>
          </div>
          <!-- Open Details -->
          <!-- <div class="inside-flag_open-detail cursor_pointer">
                              Abrir Detalhe
                              <mat-icon matSuffix class="material-icons ">
                              open_in_new
                              </mat-icon>
                              </div> -->
        </div>
        <!-- [ngStyle]="{'margin-left':  last ? '0rem' :   !first && !last && flag.flag_margin_right === '3' && flag.year ?  '4rem':'0',}" -->
        <div>
          <!-- Decidir mais para frente -->
          <!-- Flagpole -->
          <!-- @if(!cardIndexMouseUp) {
            <div class="flag-2_line" [ngStyle]="{'border-left' : '.5rem solid rgba('+flag2.flag_design.color_rgb+',.3)'}"> </div>
          } @else {
            <div class="flag-2_line" [ngStyle]="{'border-left' : '.5rem solid hsl('+flag2.flag_design.color_hsl+')'}"> </div>
          } -->
          <div class="flag-2_line" 
              id="color-{{flag2?.flag_design?.color_hex?.substring(1)}}"
              [ngStyle]="{'border-left' : '.5rem solid rgba('+flag2.flag_design.color_rgb+',.3)'}"> </div>


          <!-- Flag base -->
          <div class="flag-2_base" 
              id="color-{{flag2?.flag_design?.color_hex?.substring(1)}}"
              [ngStyle]="{'border-top' : '.5rem solid rgba('+flag2.flag_design.color_rgb+',.3)'}"> 
          </div>

          <!-- Filter 1 -->
          <div class="flag-2_filter2 cursor_pointer" 
              id="color-{{flag2?.flag_design?.color_hex?.substring(1)}}"
              [ngStyle]="{'background' : 'rgba('+flag2.flag_design.color_rgb+', 1)'}"
              (click)="filterColor(flag, flag.flag_design.color_hex?.substring(1))">  
            </div>
        </div>

      </div>
      }
    }

    <!-- 🅰️ FLAG 1 -->
    <div  class="main-block--flags" 
          [ngStyle]="{ 'margin-right': flag.flag_margin_right+'rem' }"> 
      <div class="flag-1 inside-flag" 
          [ngStyle]="{ 'z-index': cardIndexMouseUp.mouse && cardIndexMouseUp.index === idx? '-1' : '2' }">

        <!-- RETANGULO BRANCO DE FUNDO -->
        <div class="flag-1_white--background"></div>
            
        <div class="flag-1_card" 
            id="color-{{flag?.flag_design?.color_hex?.substring(1)}}"
            [ngStyle]="setStylesCards(flag)">

        <!-- RETANGULO BRANCO DE FUNDO -->
        <div class="flag-1_white--background"></div>

          <!-- title -->
          <div id="title-content" >
            <div class="box-inside-flag-title">
              <span class="inside-flag_title" [ngStyle]="setStylesText(flag)">
                {{flag.flag_title | truncate:20}}
              </span>
            </div>

            <!-- Menu Edit Delete -->
            @if(!checksFilterIsActive) {
              <div class="box-inside-flag-title remove" id="remove-{{flag?.flag_design?.color_hex?.substring(1)}}">
                <!-- [ngStyle]="setStylesText(flag2)" -->
                <i matSuffix class="material-icons-outlined cursor_pointer noSelect menu-remove-icon"
                  [matMenuTriggerFor]="menuEditRemove"
                  (click)="disableFilter(flag, flag.flag_design.color_hex?.substring(1))">
                more_vert
                </i>
                <span class="box-inside-flag-title_background"></span>
                <!-- Start Filter Edit-->
                <mat-menu #menuEditRemove="matMenu">
                  <span class="cursor_pointer noSelect box-inside-flag-title_menu" (click)="editFlag(flag, 'edit-flag-1')">
                    <i class="material-icons box-inside-flag-title_menu--edit" >
                      edit
                    </i>
                    <div class="box-inside-flag-title_menu--t1">Editar</div>
                  </span> <br>
                  <span class="cursor_pointer noSelect box-inside-flag-title_menu" 
                        (click)="deleteChecksBeforeSocialMediasChips(flag, 'edit-flag-1')"
                        (click)="doubleCheckerClick.openDoubleCheckerDialog()">
                    <i class="material-icons box-inside-flag-title_menu--delete">
                      delete_forever
                    </i>
                    <div class="box-inside-flag-title_menu--t2">Deletar</div>
                  </span>
                </mat-menu>
              </div>
            }
          </div>

          <!-- Date -->
          <div class="inside-flag_date" [ngStyle]="setStylesDate(flag)" >
            <div class="inside-flag_date_day" [ngStyle]="setStylesText(flag)">
              <!-- {{flag.date_obj.day_month_year.substring(8).split('T').shift()}} -->
              {{flag.date_obj.day}}
            </div>
            <div class="inside-flag_date_month" [ngStyle]="setStylesTextMonth(flag)">
              <span>
                <!-- {{flag.date_obj.month.split('/').shift() | titlecase}} -->
                {{flag.date_obj.month_s}}
              </span>
            </div>
            <div class="inside-flag_date_year" [ngStyle]="setStylesTextYear(flag)">
              <!-- {{flag.date_obj.day_month_year.substring(0).split('-').shift()}} -->
              {{flag.date_obj.year}}
            </div>
          </div>
          <!-- Description -->
          <div class="inside-flag_description" [ngStyle]="setStylesText(flag)">
            <p>{{flag.flag_description | truncate:250}}</p>
          </div>
          <!-- Nets -->
          <div class="inside-flag_nets" [ngStyle]="setStylesText(flag)">
            {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-02' | translate}}
          </div>

          <!-- Chips -->
          <div style="height: 12rem; width: 100%;">
            @if(flag.social_medias_chips.length === 0) {
            <div class="inside-flag_no-net">
              <!-- Não existe rede criada. -->
              <p>
                <!-- [ngStyle]="{'color': 'rgba('+flag.flag_design.color_text+',1)' }" -->
                <mark> 
                  {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-01' | translate}}
                </mark>
              </p>
              <p>
                {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-03' | translate}}
              </p>
            </div>
            } @else {
            <mat-grid-list cols="3" rowHeight="1.2rem" [gutterSize]="'0'" >

              @for (chip of flag.social_medias_chips; track trackFlagsDataJson; let ichip = $index) {
              <mat-grid-tile [rowspan]="'3'" class="inside-flag_chips-list set-chip">

                  <div *ngIf="ichip < 6 && chip.name.length > 9" class="inside-flag_chips" [ngStyle]="setStylesChip(flag)">
                    <!-- {{chip.name | truncate:8}} -->
                    {{chip.name | titlecase | truncate:6:'chip'}}
                  </div>

                  <div *ngIf="ichip < 6  && chip.name.length <= 9" class="inside-flag_chips" [ngStyle]="setStylesChip(flag)">
                    <!-- {{chip.name | truncate:8}} -->
                    {{chip.name | titlecase }}
                  </div>

                <div *ngIf="ichip===6">
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag)">
                    +{{flag.social_medias_chips.length - 6}}
                  </div>
                </div>
              </mat-grid-tile>
              }
            </mat-grid-list>
            }

          </div>
        </div> <!-- Card End language-->
        <!-- Open Kanban     margin: -2rem 0 .5rem 18.7rem;-->
        <div class="inside-flag_open-kanban cursor_pointer remove" 
            id="remove-{{flag?.flag_design?.color_hex?.substring(1)}}"
            [ngStyle]="{'margin': language === 'es' ? '-2rem 0 .5rem 18.7rem' : 
                                  language === 'en' ? '-2rem 0 .5rem 19.7rem' : ''}">
          <!-- Abrir Kanban -->
          {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.item-04' | translate}}
          <mat-icon matSuffix class="material-icons ">
            view_kanban
          </mat-icon>
        </div>
        <!-- Open Details -->
        <!-- <div class="inside-flag_open-detail cursor_pointer">
                  Abrir Detalhe
                  <mat-icon matSuffix class="material-icons ">
                  open_in_new
                  </mat-icon>
                  </div> -->
      </div>

      <div>
        <!-- Flagpole -->
        <div class="flag-1_line" 
            id="color-{{flag?.flag_design?.color_hex?.substring(1)}}"
            [ngStyle]="{'border-left' : '.5rem solid rgba('+flag.flag_design.color_rgb+',.3)'}"></div>

        <!-- Flag base -->
        <div class="flag-1_base" 
            id="color-{{flag?.flag_design?.color_hex?.substring(1)}}"
            [ngStyle]="{'border-top' : '.5rem solid rgba('+flag.flag_design.color_rgb+',.3)'}"> </div>

        <!-- Year -->
        <div class="flag-1_year Roboto_700">{{flag.year}}</div>

        <!-- Month - or - flag.month.split('/').pop() -->
        <div class="flag-1_month Roboto_700 remove noSelect" id="remove-{{flag.flag_design.color_hex?.substring(1)}}">
          <span >
            {{flag.date_obj.month_s +'/'+ flag.date_obj.year}}
          </span>
        </div>

        <!-- Filter 1 -->
        @if(flag.flags2.length === 0) {
          <div class="flag-1_filter cursor_pointer" 
              id="color-{{flag?.flag_design?.color_hex?.substring(1)}}"
              [ngStyle]="{'background' : 'rgba('+flag.flag_design.color_rgb+', 1)'}"
              (click)="filterColor(flag, flag.flag_design.color_hex?.substring(1))">  
          </div>
        }
      </div>

    </div>
    </div>
  </div>

  <div class="end" *ngIf="last && flagLengthInput > 4">
    <span *ngIf="flagLengthInput > 4">
      <!-- FIM -->
      {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.flag.timeline-end' | translate}}

    </span>
  </div>

  }
</main>
