<main class="main">
  @for (flag of timeLine.time_line.flags | unique; track trackFlagsDataJson; let idx = $index; let firstx = $first) {

  <div class="main-block">

    <!-- 🅰️ FLAG 2 -->
    @for (flag2 of flag.flags2; track trackFlagsDataJson2; let idx = $index; let firstx = $first) {
      @if(flag2.flag_style === 2) {
      <div class="main-block--flags2">
        <div class="flag-2 inside-flag">

          <div class="flag-2_card" [ngStyle]="setStylesCards(flag2)">

            <!-- RETANGULO BRANCO DE FUNDO -->
            <div class="flag-1_white--background"></div>

            <!-- title -->
            <div id="title-content">
              <div class="box-inside-flag-title">
                <span class="inside-flag_title" [ngStyle]="setStylesText(flag2)">
                  {{flag2.flag_title | truncate:20}}
                </span>
              </div>

              <!-- Menu Edit Delete -->
              <div class="box-inside-flag-title ">
                <i matSuffix class="material-icons-outlined cursor_pointer noSelect menu-remove-icon" [ngStyle]="setStylesText(flag2)"
                  id="menu-{{flag2.color_hex.substring(1)}}" [matMenuTriggerFor]="menuEditRemove">more_vert</i>
                <!-- Start Filter Sort-->
                <mat-menu #menuEditRemove="matMenu">
                  <span class="cursor_pointer noSelect box-inside-flag-title_menu">
                    <i class="material-icons box-inside-flag-title_menu--edit">
                      edit
                    </i>
                    <div class="box-inside-flag-title_menu--t1">Editar</div>
                  </span> <br>
                  <span class="cursor_pointer noSelect box-inside-flag-title_menu">
                    <i class="material-icons box-inside-flag-title_menu--delete">
                      delete_forever
                    </i>
                    <div class="box-inside-flag-title_menu--t2">Deletar</div>
                  </span>
                </mat-menu>
              </div>
            </div>

            <!-- Date -->
            <div class="inside-flag_date" [ngStyle]="setStylesDate(flag2)" >
              <div class="inside-flag_date_day" [ngStyle]="setStylesText(flag2)">
                <!-- {{flag.date_obj.day_month_year.substring(8).split('T').shift()}} -->
                {{flag.date_obj.day}}
              </div>
              <div class="inside-flag_date_month" [ngStyle]="setStylesText(flag2)">
                <span>
                  <!-- {{flag.date_obj.month.split('/').shift() | titlecase}} -->
                  {{flag.date_obj.month_s}}
                </span>
              </div>
              <div class="inside-flag_date_year" [ngStyle]="setStylesText(flag2)">
                <!-- {{flag.date_obj.day_month_year.substring(0).split('-').shift()}} -->
                {{flag.date_obj.year}}
              </div>
            </div>
            <!-- Description -->
            <div class="inside-flag_description" [ngStyle]="setStylesText(flag2)">
              <p>{{flag2.flag_description | truncate:250}}</p>
            </div>
            <!-- Nets -->
            <div class="inside-flag_nets" [ngStyle]="setStylesText(flag2)">
              {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-02' | translate}}
            </div>

          <!-- Chips -->
          <div style="height: 12rem; width: 100%;">
            @if(flag2.social_medias_chips.length === 0) {
            <div class="inside-flag_no-net">
              <!-- Não existe rede criada. -->
              <p>
                <mark> {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-01' | translate}}</mark>
              </p>
              <p>
                {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-03' | translate}}
              </p>
            </div>
            } @else {
            <mat-grid-list cols="3" rowHeight="1rem" [gutterSize]="'.15rem'" >

              @for (chip of flag2.social_medias_chips; track trackFlagsDataJson; let ichip = $index) {
              <mat-grid-tile [rowspan]="'3'" class="inside-flag_chips-list">

                <div *ngIf="ichip < 6 && chip.name.length > 9" >
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag2)">
                    <!-- {{chip.name | truncate:8}} -->
                    {{chip.name | titlecase | truncate:6}}
                  </div>
                </div>

                <div *ngIf="ichip < 6  && chip.name.length <= 9">
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag2)">
                    <!-- {{chip.name | truncate:8}} -->
                    {{chip.name | titlecase }}
                  </div>
                </div>

                <div *ngIf="ichip===6">
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag2)">
                    +{{flag.social_medias_chips.length - 6}}
                  </div>
                </div>
              </mat-grid-tile>
              }
            </mat-grid-list>
            }

          </div>
          </div> <!-- Card End -->
          <!-- Open Kanban -->
          <div class="inside-flag_open-kanban cursor_pointer">
            <!-- Abrir Kanban -->
            {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-04' | translate}}
            <mat-icon matSuffix class="material-icons ">
              view_kanban
            </mat-icon>
          </div>
          <!-- Open Details -->
          <!-- <div class="inside-flag_open-detail cursor_pointer">
                              Abrir Detalhe
                              <mat-icon matSuffix class="material-icons ">
                              open_in_new
                              </mat-icon>
                              </div> -->
        </div>

        <div>
          <!-- Flagpole -->
          <div class="flag-2_line" [ngStyle]="{'border-left' : '.5rem solid rgba('+flag2.color_rgb+',.3)'}">
          </div>

          <!-- Flag base -->
          <div class="flag-2_base" [ngStyle]="{'border-top' : '.5rem solid rgba('+flag2.color_rgb+',.3)'}"> </div>

          <!-- Filter 1 -->
          <!-- <div class="flag-2_filter cursor_pointer" [ngStyle]="{'background' : 'rgba('+flag.color_rgb+', 1)'}">  </div> -->
        </div>

      </div>
      }
    }

    <!-- 🅰️ FLAG 1 -->
    <div class="main-block--flags">

      <div class="flag-1 inside-flag"
        [ngStyle]="{'margin-right': flag.flag_margin_right+'rem', 'margin-left': flag.year && !firstx ? '5rem': '0'}">

        <div class="flag-1_card" [ngStyle]="setStylesCards(flag)">

          <!-- RETANGULO BRANCO DE FUNDO -->
          <div class="flag-1_white--background"></div>

          <!-- title -->
          <div id="title-content" >
            <div class="box-inside-flag-title">
              <span class="inside-flag_title" [ngStyle]="setStylesText(flag)">
                {{flag.flag_title | truncate:20}}
              </span>
            </div>

            <!-- Menu Edit Delete -->
            <div class="box-inside-flag-title ">
              <i matSuffix class="material-icons-outlined cursor_pointer noSelect menu-remove-icon" [ngStyle]="setStylesText(flag)"
                id="menu-{{flag.color_hex.substring(1)}}" [matMenuTriggerFor]="menuEditRemove">more_vert</i>
              <!-- Start Filter Sort-->
              <mat-menu #menuEditRemove="matMenu">
                <span class="cursor_pointer noSelect box-inside-flag-title_menu">
                  <i class="material-icons box-inside-flag-title_menu--edit" >
                    edit
                  </i>
                  <div class="box-inside-flag-title_menu--t1">Editar</div>
                </span> <br>
                <span class="cursor_pointer noSelect box-inside-flag-title_menu">
                  <i class="material-icons box-inside-flag-title_menu--delete">
                    delete_forever
                  </i>
                  <div class="box-inside-flag-title_menu--t2">Deletar</div>
                </span>
              </mat-menu>
            </div>
          </div>

          <!-- Date -->
          <div class="inside-flag_date" [ngStyle]="setStylesDate(flag)" >
            <div class="inside-flag_date_day" [ngStyle]="setStylesText(flag)">
              <!-- {{flag.date_obj.day_month_year.substring(8).split('T').shift()}} -->
              {{flag.date_obj.day}}
            </div>
            <div class="inside-flag_date_month" [ngStyle]="setStylesText(flag)">
              <span>
                <!-- {{flag.date_obj.month.split('/').shift() | titlecase}} -->
                {{flag.date_obj.month_s}}
              </span>
            </div>
            <div class="inside-flag_date_year" [ngStyle]="setStylesText(flag)">
              <!-- {{flag.date_obj.day_month_year.substring(0).split('-').shift()}} -->
              {{flag.date_obj.year}}
            </div>
          </div>
          <!-- Description -->
          <div class="inside-flag_description" [ngStyle]="setStylesText(flag)">
            <p>{{flag.flag_description | truncate:250}}</p>
          </div>
          <!-- Nets -->
          <div class="inside-flag_nets" [ngStyle]="setStylesText(flag)">
            {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-02' | translate}}
          </div>

          <!-- Chips -->
          <div style="height: 12rem; width: 100%;">
            @if(flag.social_medias_chips.length === 0) {
            <div class="inside-flag_no-net">
              <!-- Não existe rede criada. -->
              <p>
                <mark> {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-01' | translate}}</mark>
              </p>
              <p>
                {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-03' | translate}}
              </p>
            </div>
            } @else {
            <mat-grid-list cols="3" rowHeight="1rem" [gutterSize]="'.15rem'" >

              @for (chip of flag.social_medias_chips; track trackFlagsDataJson; let ichip = $index) {
              <mat-grid-tile [rowspan]="'3'" class="inside-flag_chips-list">

                <div *ngIf="ichip < 6 && chip.name.length > 9" >
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag)">
                    <!-- {{chip.name | truncate:8}} -->
                    {{chip.name | titlecase | truncate:6}}
                  </div>
                </div>

                <div *ngIf="ichip < 6  && chip.name.length <= 9">
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag)">
                    <!-- {{chip.name | truncate:8}} -->
                    {{chip.name | titlecase }}
                  </div>
                </div>

                <div *ngIf="ichip===6">
                  <div class="inside-flag_chips" [ngStyle]="setStylesChip(flag)">
                    +{{flag.social_medias_chips.length - 6}}
                  </div>
                </div>
              </mat-grid-tile>
              }
            </mat-grid-list>
            }

          </div>
        </div> <!-- Card End -->
        <!-- Open Kanban -->
        <div class="inside-flag_open-kanban cursor_pointer">
          <!-- Abrir Kanban -->
          {{'TIME-LINE.Flag1-Flag2-Component.FLAGS-1-2.modal.item-04' | translate}}
          <mat-icon matSuffix class="material-icons ">
            view_kanban
          </mat-icon>
        </div>
        <!-- Open Details -->
        <!-- <div class="inside-flag_open-detail cursor_pointer">
                  Abrir Detalhe
                  <mat-icon matSuffix class="material-icons ">
                  open_in_new
                  </mat-icon>
                  </div> -->
      </div>

      <div [ngStyle]="{'margin-left': flag.year && !firstx ? '5rem': '0'}">
        <!-- Flagpole -->
        <div class="flag-1_line" [ngStyle]="{'border-left' : '.5rem solid rgba('+flag.color_rgb+',.3)'}"></div>

        <!-- Flag base -->
        <div class="flag-1_base" [ngStyle]="{'border-top' : '.5rem solid rgba('+flag.color_rgb+',.3)'}"> </div>

        <!-- Year -->
        <div class="flag-1_year Roboto_700">{{flag.year}}</div>

        <!-- Month - or - flag.month.split('/').pop() -->
        <div class="flag-1_month Roboto_700">
          <span>
            {{flag.date_obj.month_s +'/'+ flag.date_obj.year}}
          </span>
        </div>

        <!-- Filter 1 -->
        <div class="flag-1_filter cursor_pointer" [ngStyle]="{'background' : 'rgba('+flag.color_rgb+', 1)'}">  </div>
      </div>

    </div>
  </div>


  }
</main>
