.tooltip-wrapper {
  width: 94vw;
  left: 0;
  top: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10 !important;
  margin-bottom: 5vh; // margin-bottom: 1vh;
}

.tooltip-conatiner {
  margin: 0;
  font-size: 1.1rem;
  background: rgba(var(--color-primary), 1);
  padding: .5rem;
  width: auto;
  height: auto;
  color: rgb(240, 240, 240);
  // white-space: pre-line;
  border-radius: .5rem;
  overflow: auto !important;
}


//=============== LOCAL SCROLL =============
//===========================================

::-webkit-scrollbar {
  scrollbar-width: thin;
  height: .7rem;
}

@media (max-width: 500px) {
  .tooltip-conatiner--01 {
    margin: 0 0 0 -2rem !important;
  }

}


@media (max-width: 375px) {
  .tooltip-conatiner {
    // margin: 0 0 0 -5rem !important;
  }

}