.tooltip-conatiner {
  // border: 1px solid gray;
  // border-radius: 2px;
  // padding: 1px 5px 4px 5px;
  // background: linear-gradient(#FFFFFF 0px, #E4E5F0 100%);

  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 1.1rem;
  background: rgba(var(--color-primary), 1);
  padding: .5rem;
  width: auto;
  height: auto;
  color: rgb(240, 240, 240);
  // white-space: pre-line;
  border-radius: .5rem;
  z-index: 10 !important;
  margin-bottom: 1vh;
  overflow: auto !important;
  // max-height: 70vh;

}


//=============== LOCAL SCROLL =============
//===========================================

::-webkit-scrollbar {
  scrollbar-width: thin;
  height: .7rem;
}
