::ng-deep {
  .double-checker {
    width: 38rem;
    height: auto;
    min-height: 40%;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;

    .mdc-dialog__container {
      padding: 0.1rem !important; // distance from scroll to modal
    }
  }

  @media (max-width: 425px) {
    .double-checker {
      max-width: 92vw !important;
      min-width: 90vw !important;
    }
  }

  // .cdk-overlay-pane.mat-mdc-dialog-panel {
  //   max-width: 92vw !important;
  //   min-width: 90vw !important;
  // }


}


.doublecheck {

  &_title {
    margin: 2rem 0 2rem 0;
    font-size: 1.6rem;
    // font-weight: var(--fonts-font-weight-500);
  }

  &_title,
  &_btn {
    width: 100%;
    text-align: center;
    line-height: auto;
  }

  &--icon {
    padding: .5rem;
    background: red;
  }

  &_flag,
  &_kanban {
    // background: red;
    margin: 2rem 1rem 0 2rem;

    i {
      font-weight: var(--fonts-font-weight-700);
    }

    &--done {
      color: rgba(var(--color-green), 1);
      margin: -.5rem 0 0 .5rem;
      // position: absolute;
    }

    &--close {
      color: rgba(var(--color-red), 1);
      margin: -.5rem 0 0 .5rem;
      // position: absolute;

    }
  }


  &_btn {
    margin: 3rem 0 2rem 0;

    &--back {
      margin-right: 10rem;

    }
  }


}


@media (max-width: 375px) {

  .tooltip-conatiner {
    margin-left: 1.5rem !important;
  }


}


// // Para todos os tooltips de ajuda quando a altura do navegador for maior que 570px.
// .activeHight.tooltip-conatiner {
//   max-height: 20rem !important;
//   overflow-x: hidden !important;
// }