.main-div {
  display: grid;
  grid-template-rows: 20vh 80vh;
  width: auto;
  min-width: 100vh;
  height: 100%;
  min-height: 100vh;
  // background: blanchedalmond;
}

// Component <top-div></top-div>
.first-div {
  display: grid;
  width: auto;
  min-width: 100vh;
  background: rgb(102, 255, 0);
}


.second-div {
  display: grid;
  width: auto;
  min-width: 100vh;
  height: auto;
  margin-top: 2px;
  margin-bottom: 0.5rem; // margem do scrol
  align-items: end;

  overflow-y: hidden;
  overflow-x: overlay;
  position: relative;

  background: blue;
}


//=============== TIME_LINE ========================================================
.time {
  &_container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 0;
  }

  &_line {
    border-top: .5rem solid rgba(var(--colorT-time-line-board, 1));
    // border-bottom: .5rem solid rgba(#c21b1b, 1);
    width: auto;
    min-width: 100%;
  }
}


.play-video {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  position: fixed;
  // z-index: -1;
  // align-items: start;

  &_img {
    margin: 0 2rem .7rem 0;
    width: 3rem;
  }
}
