.main-div {
  display: grid;
  grid-template-rows: 20vh 80vh;
}

.first-div {
  display: grid;
  height: 100%;
  // background: red;
}


.second-div {
  display: grid;
  height: 100%;
  align-items: end;
  overflow-y: hidden;
  overflow-x: overlay;
  position: relative;
  // background: blue;
  bottom: 0.5rem; // margem do scrol
}



.open-clos-scroll {
  position: fixed;
  bottom: 0.5rem;
  font-size: 1rem;
  margin-left: 1.5rem; // open close
}



//=============== SCROLL =============
//==================================
.second-div::-webkit-scrollbar {
  // width: 10px;
  height: 1rem;
}

/* Track */
.second-div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .4rem rgba(var(--colorT-time-line-board), 1);
  border-radius: 1rem;
  margin: 0 10rem 0 5rem;
  background-clip: content-box;
}

/* Handle */
.second-div::-webkit-scrollbar-thumb {
  width: 3rem;
  min-width: 3rem;
  background: linear-gradient(to right, rgba(var(--colorT-scrollH-1, 1)), rgba(var(--colorT-scrollH-2, 1)), rgba(var(--colorT-time-line-board, 1)));
  border-radius: 1rem;
}



.play-video {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  position: fixed;
  // z-index: -1;
  // align-items: start;

  &_img {
    margin: 0 2rem .7rem 0;
    width: 3rem;
  }
}
