.main-div {
  display: grid;
  grid-template-rows: 20vh 80vh;
}

.first-div {}


.second-div {
  overflow-y: hidden;
}


.play-video {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  position: fixed;
  // z-index: -1;
  // align-items: start;

  &_img {
    margin: 0 2rem .7rem 0;
    width: 3rem;
  }
}
