

<ng-template #createTimeLine>
  <create-flag
              [timeLine]="timeLine"
              [editFlagFormInput]="editFlagForm"
              [flagCreateEditInput]="flagCreateEdit"
              (closeModalOutput)="closeModalEvent($event)"> 
  </create-flag>
</ng-template>


<!-- Top div 20%   -->
<div class="main-div">
  <div class="first-div">
    <top-div
    (openModalOutput)="openCreateTimeLineDialog('create')"
    [timeLine]="timeLine"
    (timeLineOutput)="timeLineEvent($event)"  
    [valFilterColorBarInput]="valFilterColorBar"
    >
    
    </top-div>
  </div>

  <!-- Bottom div 80%  (resetFlagsOutput)="resetFlagsEvent($event)"-->
  <div class="second-div"  appDragScroll id="moveWheelId">
    @if(timeLine && timeLine.time_line){
      <flag [timeLine]="timeLine"
            (editFlagOutput)="editFlagEvent($event)"           
            (valFilterColorBarOutput)="valFilterColorBar = $event "
            [checkingOpacityFilterAppliedInput]="checkingOpacityFilterApplied"
            [flagLengthInput]="flagLength"
            (getFlagOutput)="getFlagEvent($event)"    
      > 
      </flag>
    }
  </div>


  <div class="play-video cursor_pointer" [ngStyle]="{'z-index': flagLength <= 0 ? '1': '-1'}">
    <img  class="play-video_img" src="{{assetsProd}}/assets/youtube.png" alt="Spider Share"
          [ngStyle]="{'width': flagLength <= 0 ? '4rem': '2.5rem',
                      'margin': flagLength <= 0 ? '0 2rem 2.7rem 0': '0 2rem .5rem 0' }">
  </div>

  <div class="open-clos-scroll cursor_pointer" #openClose [ngStyle]="{'opacity': flagLength > 4 ? '1': '0'}">
    <span id="open" (click)="openCloseHorizontalScroll('open')">open</span>
    <span id="close" (click)="openCloseHorizontalScroll('close')">close</span>
  </div>

</div>
