

<ng-template #createTimeLine>
  <create-flag [timeLine]="timeLine"> </create-flag>
</ng-template>


<!-- Top div 20%  -->
<div class="main-div">
  <div class="first-div">
    <top-div
    (openModal)="openCreateTimeLineDialog('create')">

    </top-div>
  </div>

  <!-- Bottom div 80% -->
  <div class="second-div"  appDragScroll id="moveWheelId">
    <flag [timeLine]="timeLine"> </flag>
  </div>

  <!-- [ngStyle]="{'margin': openColse ? '-1.5rem': '2rem' }" -->
  <!-- <div class="play-video cursor_pointer">
    <img  class="play-video_img" src="{{assetsProd}}/assets/youtube.png" alt="Spider Share">
  </div> -->

</div>
