<p>top-div works!</p>


<h1>KANBAN</h1>
<a (click)="navigateHomeSpider('/')">GO HOME</a><br>
<a (click)="navigateKanban('/kanban')">KANBAN</a><br>
<a (click)="navigateKanban('/kanban/:id')">KANBAN ID</a><br>
<a (click)="navigateKanban('/kanban/:id/card-kanban')">KANBAN CARD-KANBAB</a><br><br><br>


<h1>SPIDER-TUBE</h1>
<a (click)="navigateSpiderTube('/')">GO HOME</a><br>
<a (click)="navigateSpiderTube('/spider-tube')">SPIDER-TUBE</a><br>
<a (click)="navigateSpiderTube('/spider-tube/:id')">SPIDER-TUBE ID</a><br>
<a (click)="navigateSpiderTube('/spider-tube/:id/videos')">SPIDER-TUBE CARD-KANBAB</a><br><br><br>
