// https://codepen.io/thenutz/pen/VwYeYEE

// .grid-container {
//   white-space: nowrap; // não deixa os textos dentro da caixa ---- https://css-tricks.com/almanac/properties/w/whitespace/
//   // display: flex;
//   // flex-wrap: nowrap;
//   // justify-content: end;
//   // overflow-x: scroll;
//   // overflow-y: hidden;

// }


.main {
  white-space: nowrap; // não deixa os textos dentro da caixa ---- https://css-tricks.com/almanac/properties/w/whitespace/
  width: auto;
  // height: 76vh;
  position: relative;
  border-bottom: solid .5rem rgba(var(--colorT-time-line-board, 1));
  bottom: 3rem; // altura da linha inferior
  padding-left: 2rem;
}


// =========== FLAGS ========================
// == flag 01 and flag 02 are correlated ====

.main-block {
  display: inline-block;
  white-space: normal; // deixa os textos dentor da caixa

  // margin-top: 15.5rem;
  width: auto; // usado para o scroll de baixo ficar mais fiel ao tamanho
  // background: red;
  // float: left; // alinha as flags

  &--flags {
    margin-left: 8rem;
  }

  &--flags2 {
    position: absolute;
    margin: -22rem 0rem 0rem 12rem;
  }
}


.flag-1,
.flag-2 {
  width: 30rem;
  position: relative;


  // &_white--background {
  //   // todo retangulo tem um quadrado branco atrás por conta do RGBA
  //   width: 30rem;
  //   z-index: -1;
  //   position: absolute;
  //   background: rgba(var(--color-white), 1);
  //   height: 28rem;
  // }

  &_card {
    width: 30rem;
    height: 28rem;
    box-shadow: .1rem 0rem .5rem rgba(var(--color-black), .1);
  }


  &_line {
    // padding-top: 6.5rem;
    height: 10rem;
  }

  &_base {
    width: 2rem;
    padding: 0;
    margin-left: -.7rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  &_year {
    position: absolute;
    margin-left: -8rem;
    margin-top: .3rem;
  }

  &_month {
    font-size: 1rem;
    margin-top: .5rem;
    width: 5rem;
    position: absolute;
    margin-left: -4.5rem;
    // float: left;
    // text-align: right;
  }

  &_filter {
    width: 30rem;
    height: 1rem;
    margin-left: .5rem;
    position: absolute;
    margin-top: 0.6rem;
  }
}

.flag-1 {
  z-index: 2;
}

.flag-2 {
  z-index: 1;

  &_line {
    // height: 17rem;
  }
}

// =========== MATERIAL ===========
// ==============================

.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: rgba(var(--color-white), 1);
  // color: rgba(var(--color-white), 1);
  font-weight: var(--fonts-font-weight-600);
  background-color: rgba(var(--color-social-media-chips), 1) !important;
  font-size: 1.2rem !important;
  height: 2.5rem !important;
}
