// https://codepen.io/thenutz/pen/VwYeYEE

.grid-container {
  // display: flex;
  white-space: nowrap;
  // flex-wrap: nowrap;
  justify-content: end;
  overflow-x: scroll;
  overflow-y: hidden;

}


.main {
  color: lighten(yellow, 30%);
  grid-area: main;
  padding: 0;
  // overflow-x: scroll;
  // background-color: lighten(black, 80%);
  // background: rgb(204, 170, 170);
}


.items {
  width: 100%;
  position: relative;

}

.item {
  display: inline-block;
  background: skyblue;
  // min-height: 250px;
  min-width: 1000px;
  // margin: 1rem;
}
